<div class="grid-col-1">
    <div class="panel" id="signal-panel" data-module-part="signals">
        <div class="panel-header">
            <h3 class="panel-title">交易信号 / 系统日志</h3>
        </div>
        <div class="signal-list" id="signal-list">
            <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
            <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
            <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
        </div>
    </div>
</div>
<div class="panel" id="signal-panel" data-module-part="signals">
    <div class="panel-header">
        <h3 class="panel-title">交易信号 / 系统日志</h3>
    </div>
    <div class="signal-list" id="signal-list">
        <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
        <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
        <div class="signal-item skeleton"><div class="skeleton-line w-full h-12"></div></div>
    </div>
</div>
