# Example environment variables for running the Web UI
# Copy this file to .env (or export variables in your system) and fill values.

# Django secret key (keep secret in production)
SECRET_KEY=f3G$9pVqL8z#Tn2Yw@R7bU6xQm1S!hK4cE0aZ5oIy%uN

# Database
DB_NAME=website
DB_USER=www
# Leave empty if the MySQL 'www' user has no password (not recommended for production)
DB_PASSWORD=
DB_HOST=172.18.0.3
DB_PORT=3306

# Other optional settings
#DJANGO_DEBUG=False